<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo</title>
    <link rel="stylesheet" href="../CSS/contacto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Passero+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">


</head>
<body>
    <h1>
        <img src="../assets/image/portada/portada.png" width="900" height="309" alt="onepiece">
    </h1>

    <!-- BARRA NAVEGACION -->

    <nav class="navbar">
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="galeria.html">Galeria</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="#" class="activo">Contacto</a></li>
        </ul>
    </nav>

    <!-- PAGINA DE CONTACTO -->

    <div class="contacto">
        <h1 class="textoh1">A cerca de</h1>
        <h3>Conocenos</h3>
            <p>Número 1 sobre noticias del manga mas popular de la historia con mas de 20 años en activo y mas de 5 mil visitantes cada mes. Somos un grupo competente aficionado a la cultura japonesa con sede en distintas partes de España. Conoce mas sobre nosotros en el apartado de abajo para mas información.</p>

            <h3>Datos de contacto</h3>
        <ul class="datos">
            <li>Número de la empresa
                <ul>
                    <li>666777888</li>
                    <li>666555444</li>
                </ul>
            </li>
            <li>Correo Electrónico
                <ul>
                    <li>onepiece@hotmail.com</li>
                </ul>
            </li>
            <li>Ubicación
                <ul>
                    <li>Calle La Fuente, Utrera</li>
                </ul>
            </li>
            <li>Código Postal
                <ul>
                    <li>41710</li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- MAPA -->
    <h2>Calcula la ruta</h2>
    <div id="map"></div>

    <!-- FOOTER -->

    <footer>
        <div>
            <div class="social">
                <a href="https://facebook.com">
                    <img class="redes" src="../assets/image/Footer/letter-f_7199750.png" width="512" height="512" alt="facebook">
                </a>
                <a href="https://es.linkedin.com">
                    <img class="redes" src="../assets/image/Footer/linkedin_5968991.png" width="512" height="512" alt="linkedin">
                </a>
                <a href="https://instagram.com">
                    <img class="redes" src="../assets/image/Footer/instagram_4494468.png" width="512" height="512" alt="instagram">
                </a>
            </div>
            <div class="direccion">
                <p>Calle La Fuente, Utrera, Sevilla</p>
            </div>
            <div class="avisoLegal">
                <a href="https://es.wikipedia.org/wiki/Aviso_legal">Aviso Legal</a>
            </div>
        </div>
    </footer>


    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <script src="../JS/contacto.js"></script>
</body>
</html>